

/*universal selector
*/*{ color:green;

}
ul li{
    /*styling*/
    list-style:none;
    display:inline;
    padding-left:200px;
    text-transform: uppercase;

}
a{
    /*styling*/
    text-decoration:none;
    color:white;
}
p{
    /*sizing*/
    height:108;
    color:grey;
}
nav{
    /*sizing*/
    height:70px;
}
nav ul{
    margin-top: 52px;

}
body{
    background-image: url(../img/image1.jpeg)
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cabin', sans-serif;


}

main{
    border:solid #aaa 1px;
    margin: 20px 26px 20px 26px;
    margin-top:30px;
}


.s_image{
    height:50px;
    width:50px;
}
.p_image{
    height:200px;
    width:300px;
    margin-top: 40px;
}
.stack{
    margin:auto;
    width:200px;
}
footer{
    background-image:url("../img/image1.jpeg")
}
.route{

    margin:auto;
    width:900px;
    padding-left: 0px;
    display: inline;
}
.move{
    margin-top: 100px;
}
.p_images{
    /*sizing*/
    height:200px;
    width:300px;
    margin-top:100px;
}
.ho{
    margin-top: 40px;
}
.pr_pic{
    /*sizing*/
    width:300px;
    height:470px;
}
.hr{
    /*sizing*/
    margin-top: 40px;
     width:100%;
     height:800px;
}
.r{
    margin:auto;
    width:300px;
}
.container {
    /*background styles*/
    position: relative;
    text-align: center;
  color: black;
    font-size: 80px;
    }
.centered {
    /*positioning*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero {
   /* Sizing */
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   /* Text styles */
   text-align: center;
   
   /* Background styles */
   background-image: url(../img/hero1.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.hero h1 {
   /* Text styles */
   font-size: 5em;
    margin-top: 0;
   margin-bottom: 0.5em;
}
.hero .btn {
   /* Positioning and sizing */
   display: block;
   width: 200px;
   padding: 1em;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;

   color: black;
   text-decoration: none;
   font-size: 1.5em;
   /* Border styles */
   border: 3px solid black;
}
h1{
  text-transform: uppercase;
}
h2{
text-transform: uppercase;
}
header{
    /*background-color: black;*/
    color: black;
    position:fixed;
    width:100%;
    top:0px;
  }

#container {
   width: 100%;
   margin: 0 auto;
   padding-right: 100px;
   color:blue;
}

#container .route{
  color:green;
}
/*general sibling combinator
h2~p{
  color:green;
}*/
/*-lets you style a specific part of the selected element*/
p::first-line{
  color: blue;
  text-transform: uppercase;
}
/*psuedo class* *specifies a special state of the selected element*/
a:hover{
    text-decoration:underline;
    color:blue;
  }
